h1 {
  text-align: left;
  padding: 5px 0px;
  margin: 0 auto;
  color: black;
}
h2 {
  text-align: center;
  margin: 0 auto;
  color: black;
}
h3 {
  text-align: center;
  margin: auto;
  padding: 3px 5px;
  font-size: 35px;
  color: black;
}
h4 {
  font-size: 70px;
  color: black;
}
h5 {
  font-size: 18px;
  color: black;
}
h6 {
  font-size: 60px;
  color: black;
}
span {
  font-size: 20px;
  color: black;
}

body {
  font-family: "Lora", serif;
  color: black;
}
.city {
  font-size: 18px;
  padding: 2px 3px;
  line-height: 25px;
  border: 1px solid grey;
  border-radius: 5px;
}
.app {
  display: block;
  margin: 20px auto;
  max-width: 700px;
  padding: 20px 20px 25px;
  border: solid 3px black;
  border-radius: 35px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
  font-family: "Lora", serif;
  background: white;
}

.tempCard {
  margin: 5px 15px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  background: white;
  border: solid 3px grey;
  line-height: 10px;
  font-size: 15px;
  padding: 3px 4px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}
.btn-primary {
  border: 2px solid grey;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
  background: white;
  line-height: 25px;
  font-size: 22px;
  padding: 1px 5px;
  border-radius: 5px;
  color: black;
}

.search {
  display: block;
  right: 0;
}
.currentTemp {
  margin: 25px auto;
  border: 5px solid grey;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  background: white;
  padding: 75px;
}
hr {
  border: solid 2px;
  width: auto;
  height: 10px;
  background-color: black;
  color: black;
  margin: 0 auto;
}

.tag {
  text-align: center;
  color: black;
  padding: 0px 0px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0px 0px;
  margin: 0 auto;
}
li {
  color: black;
  text-decoration: none;
}

.card-body .conversion {
  font-size: 25px;
  position: relative;
}

.weatherForecast {
  margin-top: 20px;
  text-align: center;
  line-height: 15px;
  font-size: 14px;
  padding: 3px 4px;
}

.weatherForecastDate {
  font-size: 18px;
  color: black;
  padding-bottom: 10px;
}

.weatherForecastMax,
.weatherForecastMin {
  font-size: 13px;
  color: black;
}

.weatherForecastMin {
  opacity: 0.6;
}
